@charset "utf-8";
/* CSS Document */

#page_construction_img img
{
	width: 961px;
	margin-top: 10px;
}

#resources_inner_main_content p{
    font-family: Calibri;
    font-size: 13px !important;
    padding: 5px;
    background-color: #f6f6f6;
    margin-top: 10px;
}

.resources_field_style {
    padding: 0px 0 0px 0px;
    border: 0px;
}

#create_form .mpps_label {
    float: left;
    margin: 5px 0;
    text-align: left;
    width: 100px;
}

#careers_form .mpps_input {
    border: 1px solid #5fc7e0;
    margin: 5px 0px;
	margin-right: 15px;
 	padding: 10px 12px;
}

.mpps_input_full {
    border: 1px solid #5fc7e0;
    margin: 5px 0px;
	margin-right: 15px;
 	padding: 10px 12px;	
    width: 403px;
    height: 30px;
}

.mpps_input_medium {
    width: 203px;
    height: 30px;
}

.mpps_input_small {
    width: 70px;
    height: 30px;
}

.mpps_input_others {
    border: 1px solid #2A2B8C;
    margin-top: 5px;
	margin-right: 15px;
    width: 85px;
    height: 30px;
	padding: 10px 12px;
}

.mpps_input_file {
    border: 1px solid #5fc7e0;
    margin-top: 10px;
	margin-right: 15px;
    width: 403px;
    height: 30px;
	padding: 4px 12px;
}

.mpps_textarea {
    border: 1px solid #5fc7e0;
    margin-top: 10px;
	margin-right: 15px;
    width: 605px;
    height: 130px;
	padding: 4px 12px;
}

.upload_label{
	margin-right: 10px;
	width: 190px;
    display: inline-block;
}

#careers_form .resources_input_select{
    border: 1px solid #5fc7e0;
    margin: 5px 0px;
	margin-right: 15px;
    width: 403px;
    height: 30px;
	font-size: 14px;
}

.field_header{
	padding-left: 0px;
    padding-bottom: 5px;
}


#create_button, #id_submit_resources, #id_review_submit_resources, #id_login{
	width: 403px;
}

#mpps_ajax_busy {
	position: absolute;
	top: 415px; /* Position of  busy image */
	left: 352px;
}

.loader{
	border: 3px solid #5fc7e0 !important;
	padding: 5px 60px 5px 60px;
}

.block_overlay {
   opacity:0.4;
   filter: alpha(opacity = 50);
}​

.div_total_exp {
	margin-top: 5px;
}

#id_details_table{
	margin:5px 0px 5px 0px;
	padding:5px;
    width: 100%;
}

.td_review_details {
	font-weight:bold;
}

#back_button_div{
	margin-top:5px;
	width:300px;
}

.review_display{
	border: 3px solid #AAA;
	width:360px;
}

#id_review_table{
	background-color: #E6E6E6;
	padding: 5px 0px 5px 5px;
    margin: 5px 0px 5px 0px;
	width: 100%;
}

#id_exp_table td, #id_trng_table td{
	boder: 1px solid black;
}

#id_details_table td {
    width: 100px;
    padding: 3px;
	boder: 1px solid black;
}