@charset "utf-8";
/* CSS Document */

#page_construction_img img
{
	width: 961px;
	margin-top: 10px;
}

#careers_inner_main_content p{
	padding-top: 10px;
}

.resources_field_style {
    padding: 0px 0 0px 0px;
    border: 0px;
}

#create_form .mpps_label {
    float: left;
    margin: 5px 0;
    text-align: left;
    width: 100px;
}

#create_form .mpps_input {
    border: 1px solid #5fc7e0;
    margin: 5px 0px;
    width: 200px;
    height: 30px;
	padding: 10px 12px;
}

.mpps_input_full {
    border: 1px solid #5fc7e0;
    margin-top: 5px;
	margin-right: 15px;
    width: 403px;
    height: 30px;
	padding: 10px 12px;
}

.mpps_input_others {
    border: 1px solid #2A2B8C;
    margin-top: 5px;
	margin-right: 15px;
    width: 85px;
    height: 30px;
	padding: 10px 12px;
}

.mpps_input_file {
    border: 1px solid #5fc7e0;
    margin-top: 10px;
	margin-right: 15px;
    width: 403px;
    height: 30px;
	padding: 4px 12px;
}

.upload_label{
	margin-right: 10px;
	width: 170px;
    display: inline-block;
}

#careers_form .resources_input_select{
    border: 1px solid #5fc7e0;
    margin-top: 5px;
	margin-right: 15px;
    width: 403px;
    height: 30px;
	font-size: 14px;
}

.field_header{
	padding-left: 0px;
    padding-bottom: 5px;
}


#create_button, #id_submit_resources{
	width: 403px;
}


